* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background */
  --background-primary: ;
  --background-secondary: ;

  /* Color */
  --color-brand: ;
  --color-brand-hover: ;
  --color-danger: ;

  /* Content */
  --content-primary: ;
  --content-secondary: ;
  --content-tertiary: ;
  --always-white: ;

  /* Border */
  --border-primary: ;
  --border-hover: ;
}
