* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typograph */
  --font-family: "Inter", serif;
  --title: 700 1.5rem var(--font-family);
  --label: 600 1rem var(--font-family);
  --paragraph: 500 1rem var(--font-family);
  --link: 500 1rem var(--font-family);

  /* Background */
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  /* Color */
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  /* Content */
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  /* Border */
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--background-primary);
  color: var(--content-secondary);
  font: var(--paragraph);
}

main {
  padding: 0 20px;
}

#logo {
  max-width: 160px;
  margin-block: 60px;
}

a {
  text-decoration: none;
  color: var(--color-brand);
  font: var(--link);
  line-height: 16px;
}

main {
  width: 100%;
  max-width: 632px;
}

h1 {
  font: var(--title);
  line-height: 32px;
  margin-block: 16px 40px;
}

input {
  appearance: none;
  border-radius: 12px;
  border: 2px solid transparent;
  outline: 2px solid var(--border-primary);

  width: 100%;
  max-width: 460px;
  height: 44px;
  padding-left: 18px;

  font: var(--paragraph);
  color: var(--content-secondary);
}

input:hover {
  outline-color: var(--border-hover);
}

input:focus {
  outline-color: var(--color-brand);
}

input::placeholder {
  color: var(--content-tertiary);
}

.input-field {
  display: flex;
  gap: 16px;

  margin-bottom: 40px;
}

button {
  width: 100%;
  max-width: 160px;
  height: 44px;

  background-color: var(--color-brand);
  color: var(--always-white);
  font: var(--label);
  border: none;
  border-radius: 12px;

  cursor: pointer;
}

button:hover {
  background-color: var(--color-brand-hover);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 48px;
  border-radius: 12px;
  background-color: var(--background-secondary);
  padding: 8px 12px;
  margin-bottom: 12px;

  .checkbox {
    margin-right: 16px;
    cursor: pointer;

    &:hover,
    &:focus-within {
      background-image: url(../../assets/icons/stateHover.svg);
    }
  }
}

.trash {
  margin-left: 16px;
  cursor: pointer;
}

p {
  font: var(--paragraph);
  line-height: 20px;
  width: 100%;
  overflow-wrap: break-word;
  min-width: 0px;
}

.trash-msg {
  gap: 8px;
  display: none;

  background-color: var(--color-danger);
  color: var(--always-white);

  padding: 12px;
  border-radius: 12px;

  p {
    flex: 1;
    font: var(--label);
  }

  #delete {
    cursor: pointer;
  }
}

.show {
  display: flex;
}
